<!DOCTYPE html>
<html>
  <head>
    <title>FfRails</title>
    <%= favicon_link_tag asset_path("favicon.png") %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="top-bar"> </nav>
    <main>
      <%= yield %>
    </main>
    <footer class=footer> </footer>
  </body>
</html>
